body {
     margin: 0;
     padding: 0;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     font-family:'Jost',sans-serif;
     background: linear-gradient(to bottom, #0f0c28,#302b63,#24243e);

}

.main {
     width: 350px;
     height:500px;
     background: red;
     overflow: hidden;
     background: url();
     border-radius: 10px;
     

}